body{
    background-color: rgba(40, 58, 90, 0.9);
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
h2{
    color: white;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}
ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(234, 233, 238);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {
      background-color: rgb(201, 197, 197) ;
      color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }

input[type="button"]{
    border: solid 2px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: white;
    background-color:rgba(40, 58, 90, 0.9);
    border-color: rgb(129, 190, 218) ;
}
input[type="button"]:hover{
    background-color: rgb(15, 177, 226);
    border: none;
    cursor: pointer;
}
a{

    color: white;
    text-decoration: none;   
}
.key:hover{
    color: rgb(15, 177, 226);
}
a:hover{
    color: rgb(15, 177, 226);
}
nav{
    margin-right: 100px;
    float: right;
}
.mid{
    margin-top: 150px;
    margin-left: -80px;
    color: white;
    float: left;
    font-size: 20px;
}

i{
    scale: 1.5;
}
i:hover{
    cursor: pointer;
    color: rgb(15, 177, 226);;
}
@keyframes up{
    0%{top: 0px;}
    25%{top:10px;}
    50%{top: 20px;}
    75%{top: 25px;}
    100%{top: 0px;}
}
.image{
    background-image: url(img.png);
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    position: absolute;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 700px;
    animation-name: up;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}
.foot{
    width: 1495px;
    background-color: rgb(245, 237, 237);
    margin-top: 70px;
    padding: 10px;
    float: left;
}
article{
    margin-left: 120px;
    display: inline-block;
    margin-top: 20px;
}
.first{
    background-image: url(client-1.png);   
    background-repeat: no-repeat;
    height: 75px;
    
    width: 100px;
    background-size:contain;

}
.first:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.second{
    background-image: url(client-2.png);
    background-repeat: no-repeat;
    height: 75px;
    width: 100px;
    background-size:contain;
}
.second:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.third{
    background-image: url(client-3.png);
    background-repeat: no-repeat;
    height: 75px;
    width: 100px;
    background-size:contain;
}
.third:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.fourth{
    background-image: url(client-4.png);
    background-repeat: no-repeat;
    height: 75px;
    width: 100px;
    background-size:contain;
}
.fourth:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.fifth{
    background-image: url(client-5.png);
    background-repeat: no-repeat;
    height: 75px;
    width: 100px;
    background-size:contain;
}
.fifth:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.sixth{
    background-image: url(client-6.png);
    background-repeat: no-repeat;
    height: 75px;
    width: 100px;
    background-size:contain;
}
.sixth:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
